body {
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    letter-spacing: 1px;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.header {
    background-color: #222;
    color: white;
    padding: 2rem 0;

    /* Cabecera fija */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
    .header a {
        color: white;
        text-decoration: none;
    }

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    letter-spacing: 5px;
    font-size: 1.3em;
}

.menu-icon {
    display: none;
    transition: all 0.5s linear;
    border-radius: 5px;
}

    .menu-icon:hover {
        background-color: #a4a4a4;
    }

    .menu-icon svg {
        width: 30px;
    }
        .menu-icon svg path {
            fill: white;
        }

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a {
            padding: 0.5rem 1rem;
            transition: all 0.5s linear;
            border-radius: 5px;
        }
            .navigation ul li a:hover {
                background-color: #c4c4c4;
            }

.main {
    padding-top: 10rem;
}

.footer {
    background-color: #f2f2f2;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}



.error {
	display: block;
	border: 2px solid red;
	background-color: rgba(255, 0, 0, 0.3);
	color: rgb(255, 0, 0);
	padding: 2em 1em;
	word-wrap: break-word;

}

/*------------------------------------------------------------------------------------------------------.
|                                                                                                       |
|                                            Formulario para jugar                                      | 
|                                                                                                       |
.------------------------------------------------------------------------------------------------------*/

.play input {
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    border: 2px solid #666;
    transition: all 0.2s linear;
}
	.play input:invalid {
	    background-color: #d3d3d3;
	    color: white;
	}
	.play input:focus {
    	border: 2px solid #222;
    	box-shadow: inset 0px 0px 3px 2px #222;
    	outline: none;
}

.play .team-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .play .team-content input {
        font-size: 15px;
        letter-spacing: 2px;
        width: 90%;
        margin: 0.2em 0 1em 0;
    }
    .play .team-content .team {
        width: 50%;
    }

input[type="submit"] {
    background-color: #222;
    color: white;
    letter-spacing: 2px;
    transition: all 0.2s linear;
}
    input[type="submit"]:hover {
        background-color: #f4f4f4;
        color: black;
    }
    input[type="submit"]:active {
        background-color: #222;
        color: white;
        transform: scale(0.8);
    }

/*------------------------------------------------------------------------------------------------------.
|                                                                                                       |
|                                            Tablas                                                     | 
|                                                                                                       |
.------------------------------------------------------------------------------------------------------*/

table thead {
    font-size: 16px;
    background-color: #555;
    color: white;
}

table tbody {
    background-color: #c4c4c4;
    font-size: 15px;
}

table th, td {
    padding: 1em 0.5em;
}

/*------------------------------------------------------------------------------------------------------.
|                                                                                                       |
|                                            Tabla Historial                                            | 
|                                                                                                       |
.------------------------------------------------------------------------------------------------------*/

.history {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

    .history td svg {
        width: 25px;
        height: 25px;
        transition: all 0.2s linear;
    }

    .history td svg:hover {
        transform: scale(1.3);
    }


/*------------------------------------------------------------------------------------------------------.
|                                                                                                       |
|                                            Tabla estadistica                                          | 
|                                                                                                       |
.------------------------------------------------------------------------------------------------------*/

.winner {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
    .winner::after {
        display: block;
        background-image: linear-gradient(90deg,#222,#f1f1f1);
        content: '';
        height: 2px;
    }

.statistics {
    width: 100%;
    margin: 2em auto 0 auto;
}

    .statistics tr {
        text-align: center;
    }
    .statistics tr th:first-child {
        border-bottom: 2px solid #555;   
        font-weight: bold;
        font-size: 16px;
        text-align: left;
    }
    .statistics td:first-child {
        font-size: 16px;
        letter-spacing: normal;
    }
    .statistics tr th:first-child, .statistics td:first-child {
        width: 30%;
        text-align: left;
    }
    
   
/*------------------------------------------------------------------------------------------------------.
|                                                                                                       |
|                                            Formulario database                                        | 
|                                                                                                       |
.------------------------------------------------------------------------------------------------------*/

.database-form  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0em;
}

    .database-form form {
        border: 2px solid black;
        border-radius: 5px;
        padding: 2em 1em;
    }
        .database-form form input {
            width: 90%;
            padding: 0.4rem 0.8rem;
            margin-top: 0.5em;
            margin-bottom: 1em;
            border-radius: 5px;
            border: 2px solid #666;
            transition: all 0.2s linear;
        }

        .database-form form input:invalid {
            background-color: #d3d3d3;
            color: white;
        }
        .database-form form input:focus {
            border: 2px solid #222;
            box-shadow: inset 0px 0px 3px 2px #222;
            outline: none;
        }
        
        .database-form form input[type="submit"] {
            width: auto;
        }
        
/*------------------------------------------------------------------------------------------------------.
|                                                                                                       |
|                                            Responsivo                                                 | 
|                                                                                                       |
.------------------------------------------------------------------------------------------------------*/
     
@media only screen and (max-width: 760px){

    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .navigation {
        width: 100%;
        margin-top: 1rem;
    }

        .navigation ul {
            display: none;
        }

        .navigation ul.show {
            display: block;
        }

            .navigation ul li {
                padding: 0.5rem 0;
                display: block;
            }
        
                .navigation ul li a {
                    transition: all 0.5s linear;
                    border-radius: 5px;
                }
        
                    .navigation ul li a:hover {
                        background-color: #c4c4c4;
                    }

.play .team-content {
    display: block;
}	
	.play .team-content .team {
	    width: 100%;
	}
}